Repository jfgrea27/coffee-rt: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-typecheck, helm-lint

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

helm-lint:
  name: Helm lint
  entry: bash -c 'cd helm/coffee-rt && helm dependency update && helm lint . -f values.dev.yaml'
  language: system
  pass_filenames: false

trigger ci
  backend/cafe_order_aggregator/src/cafe_order_aggregator/__init__.py
  backend/cafe_order_api/src/cafe_order_api/__init__.py
  backend/stream_worker/src/stream_worker/__init__.py
  flink/coffee-rt-flink/src/main/java/com/coffeert/CoffeeOrderJob.java
  frontend/src/main.tsx
  infra/.terraform-version
  infra/README.md
  infra/environments/dev/acr/.terraform.lock.hcl
  infra/environments/dev/acr/terragrunt.hcl
  infra/environments/dev/aks/terragrunt.hcl
  infra/environments/dev/env.hcl
  infra/environments/dev/github-oidc/.terraform.lock.hcl
  infra/environments/dev/github-oidc/terragrunt.hcl
  infra/environments/dev/resource-group/.terraform.lock.hcl
  infra/environments/dev/resource-group/terragrunt.hcl
  infra/environments/dev/vnet/.terraform.lock.hcl
  infra/environments/dev/vnet/terragrunt.hcl
  infra/init-tf-state.sh
  infra/modules/acr/main.tf
  infra/modules/acr/outputs.tf
  infra/modules/acr/variables.tf
  infra/modules/aks/main.tf
  infra/modules/aks/outputs.tf
  infra/modules/aks/variables.tf
  infra/modules/github-oidc/main.tf
  infra/modules/github-oidc/outputs.tf
  infra/modules/github-oidc/variables.tf
  infra/modules/resource-group/main.tf
  infra/modules/resource-group/outputs.tf
  infra/modules/resource-group/variables.tf
  infra/modules/vnet/main.tf
  infra/modules/vnet/outputs.tf
  infra/modules/vnet/variables.tf
  infra/root.hcl
Due: frontend-typecheck

update flink
  EXPERIMENTS.md
  flink/coffee-rt-flink/Dockerfile
  flink/coffee-rt-flink/dependency-reduced-pom.xml
  justfile
Due: none

trigger dashboard
  .github/scripts/detect_changes.py
  .github/workflows/ci.yaml
  frontend/src/App.tsx
Due: frontend-typecheck

Add v3 support in helm charts
  helm/coffee-rt/Chart.lock
  helm/coffee-rt/Chart.yaml
  helm/coffee-rt/charts/flink-job/Chart.yaml
  helm/coffee-rt/charts/flink-job/templates/_helpers.tpl
  helm/coffee-rt/charts/flink-job/templates/deployment.yaml
  helm/coffee-rt/charts/flink-job/values.yaml
  helm/coffee-rt/charts/flink/templates/job-deployment.yaml
  helm/coffee-rt/charts/flink/values.yaml
  helm/coffee-rt/values.deploy.v1.yaml
  helm/coffee-rt/values.deploy.v2.yaml
  helm/coffee-rt/values.deploy.v3.yaml
  helm/coffee-rt/values.v1.yaml
  helm/coffee-rt/values.v2.yaml
  helm/coffee-rt/values.v3.yaml
  helm/coffee-rt/values.yaml
  infra/README.md
  infra/environments/dev/aks/.terraform.lock.hcl
  infra/environments/dev/aks/terragrunt.hcl
  infra/environments/dev/bastion/.terraform.lock.hcl
  infra/environments/dev/bastion/terragrunt.hcl
  infra/environments/dev/vnet/terragrunt.hcl
  infra/modules/aks/main.tf
  infra/modules/aks/outputs.tf
  infra/modules/aks/variables.tf
  infra/modules/bastion/main.tf
  infra/modules/bastion/outputs.tf
  infra/modules/bastion/variables.tf
  infra/modules/vnet/main.tf
  infra/modules/vnet/outputs.tf
  infra/modules/vnet/variables.tf
  justfile
Due: helm-lint

update loki values.yml
  helm/coffee-rt/values.yaml
Due: helm-lint

add checkpointing
  ISSUE.md
  PORTFOLIO.md
  PROBLEMS.md
  README.md
  SCALE.md
  TODO.md
  docker-compose.v3.yaml
  flink/coffee-rt-flink/pom.xml
  flink/coffee-rt-flink/src/main/java/com/coffeert/CoffeeOrderJob.java
  flink/coffee-rt-flink/src/main/resources/log4j2.properties
  flink/coffee-rt-flink/src/test/resources/simplelogger.properties
  ideas.md
Due: none

Add load-test
  backend/coffee_consumer_simulator/Dockerfile
  backend/coffee_consumer_simulator/pyproject.toml
  backend/coffee_consumer_simulator/src/coffee_consumer_simulator/run_load_test.py
  helm/coffee-rt/Chart.lock
  helm/coffee-rt/Chart.yaml
  helm/coffee-rt/charts/load-tester/Chart.yaml
  helm/coffee-rt/charts/load-tester/templates/_helpers.tpl
  helm/coffee-rt/charts/load-tester/templates/job.yaml
  helm/coffee-rt/charts/load-tester/templates/serviceaccount.yaml
  helm/coffee-rt/charts/load-tester/values.yaml
  helm/coffee-rt/values.yaml
  infra/environments/dev/storage/terragrunt.hcl
  infra/modules/storage/main.tf
  infra/modules/storage/outputs.tf
  infra/modules/storage/variables.tf
Due: helm-lint

add ci for load-tester
  .github/scripts/detect_changes.py
  backend/coffee_consumer_simulator/src/coffee_consumer_simulator/benchmark.py
Due: none

add trigger all
  .github/scripts/detect_changes.py
  .github/workflows/ci.yaml
  backend/coffee_consumer_simulator/pyproject.toml
  infra/README.md
Due: none

add claude code blog and buy-me-coffee blogs
  SCALE_NEW.md
  helm/coffee-rt/charts/load-tester/values.yaml
  helm/coffee-rt/values.deploy.v1.yaml
  helm/coffee-rt/values.deploy.v2.yaml
  helm/coffee-rt/values.deploy.v3.yaml
  helm/coffee-rt/values.yaml
  infra/README.md
  infra/environments/dev/storage/.terraform.lock.hcl
  infra/modules/bastion/main.tf
  infra/modules/storage/main.tf
Due: helm-lint

Path conditions:
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  helm-lint: any of: ^helm/
